body {
    background-color:royalblue;
}
.nfl-logo {
    background-image: url("images/nfl-logo.gif");
}
.banner {
    color:darkblue;
}
.player-card {
    display:inline-block;
    border: 1px solid black;
    margin:8px;
}
.card2 {
    width:125px;
}
.cardtext{
    background-color:ghostwhite;
    font-size:small;
}
.ctr {
    text-align:center;
}
input {
    display:inline-block;
    margin:4px;
    width:140px;
}
.addBox {
    display:inline-block;
    text-align:right;
    width:280px;
}
.panel-footer {
    font-size: xx-small;
}
.foot1 {
    display:inline-block;
}