body {
    background-color:royalblue;
    margin:4px;
}
.invisable {
    display:none;
}
.nfl-logo {
    background-image: url("images/nfl-logo.gif");
}
.banner {
    color:darkblue;
}
.player-card {
    display:inline-block;
    border: 1px solid blue;
    margin:8px;
}
.card1 {
    width:50px;
}
.card2 {
    width:100px;
}
.cardtext{
    background-color:ghostwhite;
    font-size:x-small;
}
.ctr {
    text-align:center;
}
input {
    display:inline-block;
    margin:4px;
    width:140px;
}
.addBox {
    display:inline-block;
    text-align:right;
    width:280px;
    float:right;
}
.stay-left {
    float:left;
}
.stay-right {
    float:right;
}
.player-list-box {
    display:inline-block;
    margin:10px;
    border-width:8px;
    border-color:darkblue;
    background-color:darkblue;
}
.panel-heading {
    height:43px;
}
.panel-footer {
    font-size: x-small;
}
.panel-body-container1 {
    border-width:8px;
    border-color:darkblue;
    background-color:darkblue;
}
.inlineBlock {
    display:inline-block;
}
.button-add-custom {
    display:inline-block;
    width:100px;
    background-color:#A2CCFF;
    border:1px darkblue solid;
}
.button-reset-custom {
    display:inline-block;
    width:60px;
    background-color:#A2CCFF;
    border:1px darkblue solid;
}
.button-initial-custom {
    background-color:#A2CCFF;
    border:1px darkblue solid;
    width:90px;
}
.button-default-custom {
    background-color:#A2CCFF;
    border:1px darkblue solid;
    width:105px;
}
.button-fullNFL-custom {
    background-color:#A2CCFF;
    border:1px darkblue solid;
    width:200px;
}
.button-remove-custom {
    display:inline-block;
    font-size:xx-small;
    background-color:red;
    border:1px darkblue solid;
}
.button-view-custom {
    width:445px;
}
.viewMenu1-text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:18px;
    align-content:center;
}
.table-header {
    color:white;
}
.table-text {
    font-size:x-small;
    color:white;
}
.table2-header {
    color:black;
}
.table2-text {
    font-size:medium;
    color:black;
}
.progress-bar-custom {
    width:100%;
}
.container2 {
    display:compact;
    text-align:center;
}
.nfl-full {
    display:inline-block;
    background-color:lightblue;
    margin:10px;
}
.t-row {
    height:52px;
}
.t-row-header {
    height:42px;
}
.t-row-cell {
    display:inline-block;
    width:120px;
}
.t-row-cell1 {
    display:inline-block;
    width:170px;
}
.t-row-cell2 {
    display:inline-block;
    width:60px;
}
.t-row-shade {
    background-color:lightblue;
}
#sticker {
    float:inherit;
}
.hd1 { 
    padding: .2em; 
    margin: 0; 
}
#positions { 
    width: 275px; 
    margin-right: .2em; 
}
#positions ul {
    font-size:small;
    margin: 0;
    list-style:none;
    padding-left:0;
    padding: 0, 0, 0, 0;
}
#teamsList { 
    width: 275px;  
    margin-right: .2em; 
}
#teamsList ul {
    font-size:small;
    margin: 0;
    list-style:none;
    padding-left:0;
    padding: 0, 0, 0, 0;
}
#addingGroup { 
    width: 275px; 
    margin-right: .2em; 
    /* margin-top: 1em; */ 
}
  /* style the add player box to maximize the droppable hitarea */
#addingGroup ol { 
    margin: 0;
    list-style:none;
    text-indent:4px;
    padding: 1em 1em 1em 1em; 
}
