body {
    background-color:royalblue;
}
.nfl-logo {
    background-image: url("images/nfl-logo.gif");
}
.banner {
    color:darkblue;
}
.player-card {
    display:inline-block;
    border: 1px solid blue;
    margin:8px;
}
.card2 {
    width:100px;
}
.cardtext{
    background-color:ghostwhite;
    font-size:x-small;
}
.ctr {
    text-align:center;
}
input {
    display:inline-block;
    margin:4px;
    width:140px;
}
.addBox {
    display:inline-block;
    text-align:right;
    width:280px;
}
.player-list-box {
    display:inline-block;
    margin:10px;
    border-width:8px;
    border-color:darkblue;
    background-color:darkblue;
}
.panel-footer {
    font-size: x-small;
}
.inlineBlock {
    display:inline-block;
}
.button-add-custom {
    display:inline-block;
    width:100px;
    background-color:#A2CCFF;
    border:1px darkblue solid;
}
.button-reset-custom {
    display:inline-block;
    width:60px;
    background-color:#A2CCFF;
    border:1px darkblue solid;
}
.button-initial-custom {
    background-color:#A2CCFF;
    border:1px darkblue solid;
    width:60px;
}
.button-default-custom {
    background-color:#A2CCFF;
    border:1px darkblue solid;
    width:105px;
}
.button-fullNFL-custom {
    background-color:#A2CCFF;
    border:1px darkblue solid;
    width:200px;
}
.button-remove-custom {
    display:inline-block;
    font-size:xx-small;
    background-color:red;
    border:1px darkblue solid;
}
.table-header {
    color:white;
}
.table-text {
    font-size:x-small;
    color:white;
}
.table2-header {
    color:black;
}
.table2-text {
    font-size:medium;
    color:black;
}
.progress-bar-custom {
    width:220px;
}
.container2 {
    display:compact;
    text-align:center;
}
.nfl-full {
    display:inline-block;
    background-color:lightblue;
    margin:10px;
}
